body {
  background-color: rgb(5, 31, 54);
}

h1{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
  width: 100%;
 text-align: center;
}

td, th {
  padding:10px;
  border: 2px solid rgb(45, 39, 39);
}

table {
  margin: 0 auto;
  padding-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#form {
  background-color: rgb(10, 7, 41);
  padding-bottom: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  background-color:rgb(73, 61, 164);
  border: 1px solid rgb(41, 29, 137);
  height: 40px;
  width: 120px;
  cursor: pointer;
}
